# emacs backup directories and files
.~
*~
TAGS

# Node artifacts
node_modules/
dist/
.next/
.turbo/
.vercel/
.env*.local

# Java
*.class
*.jar

# Python
*.py[cod]
venv/
.venv/
.pytest_cache
.run/

# Log files
*.log

# Maven
dist/

# JetBrains IDE
.idea/
**/*.iml
.ijwb/

# VS Code
.vscode/

# Vim
*.swp

# Unit test reports
TEST*.xml

# MacOS
.DS_Store

# Windows
Thumbs.db
